@import url("../../assets/fonts/Roboto/Roboto.css");

body {
    background-color: #e5e5e5;
    font-family: "Roboto Medium", sans-serif;
}

.table {
    box-sizing: border-box;
    width: 570px;
    height: 590px;
    margin: 55px 135px;
    background-color: #fff;
    padding: 35px 34px 16px;
}

h2 {
    font-size: 24px;
    font-family: "Roboto Medium", sans-serif;
    letter-spacing: -0.4px;
    line-height: 32px;
    color: #1c1c1c;
}

.form__table-block {
    display: inline-block;
    width: 245px;
    height: 40px;
    font-size: 15px;
    letter-spacing: -0.2px;
    line-height: 22px;
    margin-top: 7px;
    color: #545454;
    border-radius: 6px;
}

.form__table-input {
    width: 245px;
    height: 38px;
    padding: 0;
    margin: 0;
    margin-top: 7px;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
}


.form__table-input:focus {
    outline: 1px solid #007bff;
    border: 1px solid transparent;
}

.content__text {
    display: flex;
    gap: 12px;
    padding-bottom: 20px;
}

.container {
    display: flex;
    gap: 12px;
    padding-bottom: 20px;
}

.radio {
    font-family: "Roboto";
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
    margin-top: 20px;
}




/* Hide the browser's default radio button */
.radio__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom radio button */
.radio__check {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;

}

/* When the radio button is checked, add a blue background */
.radio__input:checked~.radio__check {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio__check:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio__input:checked~.radio__check:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.radio__check:after {
    top: 6px;
    left: 6px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}



.form__table-email {
    display: block;
    width: 500px;
    height: 92px;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    margin-top: 20px;
    color: #545454;
}

.email-input {
    width: 500px;
    height: 38px;
    margin-top: 7px;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
    margin-bottom: 7px;
}

.text {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
    position: relative;
    cursor: pointer;
}

.button {
    width: 505px;
    height: 38px;
    border-radius: 6px;
    border: 1px solid #e4e4e4;
    background-color: #007bff;
    color: #fff;
    font-size: 15px;
    letter-spacing: -0.1px;
    font-family: "Roboto-Medium", sans-serif;
    line-height: 22px;
    margin-top: 30px;
}

.attention {
    width: 410px;
    height: 36px;
    text-align: center;
    margin: 0 auto;
    margin-top: 22px;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1px;
    color: #969696;
}

.attention a {
    text-decoration: none;
    color: #007bff;
}

.log_in {
    height: 22px;
    text-align: center;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: -0.2px;
    margin-top: 41px;
    color: #969696;
    margin-top: 20px;
}

.log_in a {
    text-decoration: none;
    color: #007bff;
    padding-left: 20px;
}

.divider {
    border: 1px solid #E4E4E4;
    margin-top: 20px;

}